:root {
    --keyword: #f57d26;
    --type: #3a94c5;
    --string: #8da101;
    --number: #dfa000;
    --comment: #9da9a0;
    --function: #3a94c5;
    --module: #f85552;
    --accent: #1985a1;
}

[data-theme="dark"] {
    --keyword: #e69875;
    --type: #7fbbb3;
    --string: #a7c080;
    --number: #dbbc7f;
    --comment: #859289;
    --function: #7fbbb3;
    --module: #e67e80;
    --accent: #53a9c4;
}
